body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 125%;
  }
  header{
    background-color: darkcyan;
  }
  nav{
    background-color: #556;
    display: inline-block;
    width: 80%;
  }
  main{
    background-color: aquamarine;
    font-size: 150%;
  }
  footer{
    background-color: peachpuff
  }
  /* li{
    display: none;
    width: 250px;
  }*/
  h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
  }
  p{
    line-height: 1.5;
  }
  nav img{
    width: 10%;
  }
  .grid{
    display: grid;
    grid-template-columns: 40% 40%;
  }  
  .grid img{
    width: 100%;
  }
  .grid{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
  }
  .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
